{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/pagination/macro.html' import govukPagination -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ title }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ govukButton({
      'text': "Add team",
      'href': url_for('team_ui.create')
    }) }}
    <h2 class="govuk-heading-m">Sort and filter</h2>
    <form method="get" action="{{ url_for('team_ui.list_teams') }}" novalidate>
      {{ form.sort(params={
        'classes': "govuk-radios--small"
      }) }}
      {{ form.status(params={
        'classes': "govuk-radios--small"
      }) }}
      {{ form.per_page() }}
      {{ govukButton({
        'text': "Apply",
        'classes': "govuk-button--secondary"
      }) }}
    </form>
  </div>
  <div class="govuk-grid-column-three-quarters">
    {% set rows = [] %}
    {% for team in teams %}
      {% set _ = rows.append([
        {
          'html': '<a href="' ~ url_for("team_ui.view", id=team.id) ~ '" class="govuk-link">' ~ team.name ~ '</a>'
        },
        {
          'text': team.people | length
        },
        {
          'text': team.services | length
        },
        {
          'text': format_govuk_datetime(team.updated_at, include_day=False, truncate_month=True)
        }
      ]) %}
    {% endfor %}

    {% if rows %}
      {{ govukTable({
        'caption': "Showing " ~ teams.first ~ " to " ~ teams.last ~ " of " ~ teams.total ~ " teams",
        'captionClasses': "govuk-table__caption--m",
        'firstCellIsHeader': true,
        'head': [
          { 'text': "Name" },
          { 'text': "People" },
          { 'text': "Services" },
          { 'text': "Updated" }
        ],
        'rows': rows
      }) }}
    {% endif %}

    {% if teams.pages > 1 %}
      {% set pages = [] %}
      {% for page in teams.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
        {%  if page %}
          {% set _ = pages.append(
            {
              'number': page,
              'href': url_for('team_ui.list_teams', page=page, per_page=teams.per_page, sort=form.sort.data, status=form.status.data),
              'current': page == teams.page
            }
          ) %}
        {% else %}
          {% set _ = pages.append({
            'ellipsis': true
          }) %}
        {% endif %}
      {% endfor %}

      {{ govukPagination({
        'previous': {
          'href': url_for('team_ui.list_teams', page=teams.prev_num, per_page=teams.per_page, sort=form.sort.data, status=form.status.data),
        } if teams.has_prev else None,
        'next': {
          'href': url_for('team_ui.list_teams', page=teams.next_num, per_page=teams.per_page, sort=form.sort.data, status=form.status.data),
        } if teams.has_next else None,
        'items': pages
      }) }}
    {% endif %}
    <p class="govuk-body">Get data in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="{{ url_for('team_ui.download') }}">CSV format</a>
      </li>
      <li>
        <a class="govuk-link" href="{{ url_for('team_api.list_teams', page=teams.page, per_page=teams.per_page, sort=form.sort.data, status=form.status.data) }}">JSON format</a>
      </li>
    </ul>
  </div>
</div>
{%- endblock -%}