{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ team.name }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('team.list_teams')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Team</span>
    <h1 class="govuk-heading-l">{{ team.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': team.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('team.edit', id=team.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if team.archived_at else "Active",
              'classes': "govuk-tag--grey" if team.archived_at else "govuk-tag--green"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('team.restore', id=team.id) if team.archived_at else url_for('team.archive', id=team.id),
                'text': "Restore" if team.archived_at else "Archive",
                'visuallyHiddenText': "team"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Updated"
          },
          'value': {
            'text': format_govuk_datetime(team.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}

    {% set rows = [] %}
    {% for person in team.people if person.archived_at is none %}
      {% set _ = rows.append([
        {
          'html': '<a href="' ~ url_for("person.view", id=person.id) ~ '" class="govuk-link">' ~ person.name ~ '</a>'
        },
        {
          'html': '<a href="' ~ url_for("role_ui.view", id=person.role.id) ~ '" class="govuk-link">' ~ person.role.name ~ '</a>'
        },
        {
          'text': person.location.title()
        }
      ]) %}
    {% endfor %}
    {% if rows %}
      {{ govukTable({
        'caption': rows | length ~ " people",
        'captionClasses': "govuk-table__caption--m",
        'firstCellIsHeader': true,
        'head': [
          { 'text': "Name" },
          { 'text': "Role" },
          { 'text': "Location" },
        ],
        'rows': rows
      }) }}
    {% endif %}

    <h2 class="govuk-heading-m">{{ team.services | length }} services</h2>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    {% for service in team.services if service.archived_at is none %}
      <li><a class="govuk-link" href="{{ url_for('service.view', id=service.id) }}">{{ service.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{%- endblock -%}