{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ service.name }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('service.list_services')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Service</span>
    <h1 class="govuk-heading-l">{{ service.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': service.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('service.edit', id=service.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if service.archived_at else "Active",
              'classes': "govuk-tag--grey" if service.archived_at else "govuk-tag--green"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('service.restore', id=service.id) if service.archived_at else url_for('service.archive', id=service.id),
                'text': "Restore" if service.archived_at else "Archive",
                'visuallyHiddenText': "service"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Owning team"
          },
          'value': {
            'text': service.team.name if service.team else govukTag({'text': "None", 'classes': "govuk-tag--red"})
          },
          'actions': {
            'items': [
              {
                'href': url_for('team.view', id=service.team.id),
                'text': "View",
                'visuallyHiddenText': "team"
              },
              {
                'href': url_for('service.edit', id=service.id),
                'text': "Change",
                'visuallyHiddenText': "team"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Updated"
          },
          'value': {
            'text': format_govuk_datetime(service.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}

    {% set rows = [] %}
    {% for person in service.people if person.archived_at is none %}
      {% set _ = rows.append([
        {
          'html': '<a href="' ~ url_for("person.view", id=person.id) ~ '" class="govuk-link">' ~ person.name ~ '</a>'
        },
        {
          'html': '<a href="' ~ url_for("role.view", id=person.role.id) ~ '" class="govuk-link">' ~ person.role.name ~ '</a>'
        },
        {
          'text': person.location.title()
        }
      ]) %}
    {% endfor %}
    {% if rows %}
      {{ govukTable({
        'caption': rows | length ~ " people",
        'captionClasses': "govuk-table__caption--m",
        'firstCellIsHeader': true,
        'head': [
          { 'text': "Name" },
          { 'text': "Role" },
          { 'text': "Location" },
        ],
        'rows': rows
      }) }}
    {% endif %}
  </div>
</div>
{%- endblock -%}