{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ role.name }} – {{config['SERVICE_NAME']}} – GOV.UK{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('role.list')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-xl">Role</span>
    <h1 class="govuk-heading-xl">{{ role.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': role.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.edit', id=role.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Grade"
          },
          'value': {
            'text': role.grade
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.edit', id=role.id),
                'text': "Change",
                'visuallyHiddenText': "grade"
              }
            ]
          }
        },
        {
          'key': {
            'text': "People"
          },
          'value': {
            'text': role.people | length
          },
          'actions': {
            'items': [
              {
                'href': "#",
                'text': "View",
                'visuallyHiddenText': "people"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if role.archived_at else "Active",
              'classes': "govuk-tag--grey" if role.archived_at else "govuk-tag--blue"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.restore', id=role.id) if role.archived_at else url_for('role.archive', id=role.id),
                'text': "Restore" if role.archived_at else "Archive",
                'visuallyHiddenText': "role"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Last updated"
          },
          'value': {
            'text': format_govuk_datetime(role.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}
  </div>
</div>
{%- endblock -%}