{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ role.name }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('role.list_roles')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Role</span>
    <h1 class="govuk-heading-l">{{ role.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': role.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.edit', id=role.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Grade"
          },
          'value': {
            'text': role.grade
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.edit', id=role.id),
                'text': "Change",
                'visuallyHiddenText': "grade"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if role.archived_at else "Active",
              'classes': "govuk-tag--grey" if role.archived_at else "govuk-tag--green"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.restore', id=role.id) if role.archived_at else url_for('role.archive', id=role.id),
                'text': "Restore" if role.archived_at else "Archive",
                'visuallyHiddenText': "role"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Updated"
          },
          'value': {
            'text': format_govuk_datetime(role.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}

    {% set rows = [] %}
    {% for person in role.people if person.archived_at is none %}
      {% set _ = rows.append([
        {
          'html': '<a href="' ~ url_for("person.view", id=person.id) ~ '" class="govuk-link">' ~ person.name ~ '</a>'
        },
        {
          'html': '<a href="' ~ url_for("team.view", id=person.team.id) ~ '" class="govuk-link">' ~ person.team.name ~ '</a>'
        },
        {
          'text': person.location.title()
        }
      ]) %}
    {% endfor %}
    {% if rows %}
      {{ govukTable({
        'caption': rows | length ~ " people",
        'captionClasses': "govuk-table__caption--m",
        'firstCellIsHeader': true,
        'head': [
          { 'text': "Name" },
          { 'text': "Team" },
          { 'text': "Location" },
        ],
        'rows': rows
      }) }}
    {% endif %}
  </div>
</div>
{%- endblock -%}