{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{%- block pageTitle -%}{{ role.name }} – {{config['SERVICE_NAME']}} – GOV.UK{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('role.list')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-xl">Role</span>
    <h1 class="govuk-heading-xl">{{ role.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': role.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('role.edit', id=role.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Last updated"
          },
          'value': {
            'text': role.updated_at

          }
        }
      ]
    }) }}

    {% if role.archived_at %}
    {{ govukButton({
      'text': "Restore role",
      'href': "#",
      'classes': "govuk-button--secondary"
    }) }}
    {% else %}
    {{ govukButton({
      'text': "Archive role",
      'href': url_for('role.archive', id=role.id),
      'classes': "govuk-button--secondary"
    }) }}
    {% endif %}
  </div>
</div>
{%- endblock -%}