{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}

{%- block pageTitle -%}About – {{config['SERVICE_NAME']}} – GOV.UK{%- endblock -%}

{%- block beforeContent -%}
  {{ super() }}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('search.index')
  }) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ super() }}
        <span class="govuk-caption-xl">About</span>
        <h1 class="govuk-heading-xl">{{config['SERVICE_NAME']}}</h1>
        <p class="govuk-body-l">Mímir is a service directory and organisational knowledge base. It helps teams and leadership to understand who is responsible for what, how systems are connected, and what parts of the architecture depend on others.</p>
        <p class="govuk-body">In Norse mythology, Mímir is a wise being who guards Mímisbrunnr, a well of immense wisdom located beneath one of the roots of Yggdrasil, the World Tree that connects the nine realms. Odin sacrifices one of his eyes to drink from the well, gaining deep insight in return.</p>

        <h2 class="govuk-heading-l">Features</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><strong>Ownership mapping</strong> — “Who owns this service?”.<br>Track accountability across teams and services.</li>
            <li><strong>Team composition tracking</strong> — “Who’s in this team, and what do they do?”.<br>Understand team makeup and role distribution.</li>
            <li><strong>Dependency analysis</strong> — “Which components are shared across services?”.<br>Reveal architectural reuse and potential points of failure.</li>
            <li><strong>Role-based insights</strong> — “Who are the developers working on critical services?”.<br>Filter by responsibility and capability across the estate.</li>
            <li><strong>Change impact assessment</strong> — “If we change this component, who needs to know?”.<br>Anticipate downstream effects before making architectural changes.</li>
        </ul>
    </div>
</div>
{%- endblock -%}