{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super()}}
    <form method="get" action="{{ url_for('search.index') }}" novalidate>
      {% call govukFieldset({
        'legend': {
          'text': "Search",
          'classes': "govuk-fieldset__legend--xl",
          'isPageHeading': true
        }
      }) %}
        {{ form.q }}
        {{ govukButton({
          'text': "Search"
        }) }}
      {% endcall %}
    </form>
    {% if results %}
      {% set rows = [] %}
      {% for result in results %}
        {% set _ = rows.append([
          { 'text': result.type },
          {
            'html': '<a href="' ~ result.url ~ '" class="govuk-link">' ~ result.name ~ '</a>'
          },
          { 'text': format_govuk_datetime(result.updated_at, include_day=False, truncate_month=True) }
        ]) %}
      {% endfor %}

      <h2 class="govuk-heading-l">{{ rows | length }} results</h2>

      {% if rows %}
        {{ govukTable({
          'firstCellIsHeader': false,
          'head': [
            { 'text': "Type" },
            { 'text': "Name" },
            { 'text': "Updated" }
          ],
          'rows': rows
        }) }}
      {% endif %}
    {% endif %}
  </div>
</div>
{%- endblock -%}