{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super()}}
    <form method="post" action="{{ url_for('search.index') }}" novalidate>
      {% call govukFieldset({
        'legend': {
          'text': "Search",
          'classes': "govuk-fieldset__legend--xl",
          'isPageHeading': true
        }
      }) %}
        {{ form.csrf_token }}
        {{ form.query }}
        {{ form.submit }}
      {% endcall %}
    </form>
    {% if results %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l">{{ results | length }} results</h2>
    <ul class="govuk-list">
      {% for result in results %}
      <li>
        <strong>{{ result.type }}</strong>: <a class="govuk-link" href="{{ url_for('role.view', id=result.id ) }}">{{ result.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{%- endblock -%}