{%- extends "base.html" -%}

{%- block pageTitle -%}{{ title }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <h1 class="govuk-heading-l">Are you sure you want to archive {{ person.name }}?</h1>
    <form method="post" action="{{ url_for('person_ui.archive', id=person.id) }}" novalidate>
      {{ form.csrf_token }}
      {{ form.confirm }}
      <div class="govuk-button-group">
        {{ form.submit(params={
          'preventDoubleClick': true
        }) }}
        <a class="govuk-link" href="{{ url_for('person_ui.view', id=person.id) }}">Cancel</a>
      </div>
  </div>
</div>
{%- endblock -%}