{%- extends "base.html" -%}

{%- block pageTitle -%}{{ title }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="post" action="{{ url_for('person.create') }}" novalidate>
      {{ form.csrf_token}}
      {{ form.name(params={
        'spellcheck': true
      }) }}
      {{ form.location(params={
        'classes': "govuk-!-width-one-half"
      }) }}
      {{ form.role(params={
        'classes': "govuk-!-width-one-half"
      }) }}
      {{ form.team(params={
        'classes': "govuk-!-width-one-half"
      }) }}
      {{ form.manager(params={
        'classes': "govuk-!-width-one-half"
      }) }}
      <div class="govuk-button-group">
        {{ form.submit(params={
          'preventDoubleClick': true
        }) }}
        <a class="govuk-link" href="{{ url_for('person.list') }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{%- endblock -%}