{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ person.name }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('person.list')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Person</span>
    <h1 class="govuk-heading-l">{{ person.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'text': person.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('person.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Location"
          },
          'value': {
            'text': person.location.title()
          },
          'actions': {
            'items': [
              {
                'href': url_for('person.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "location"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if person.archived_at else "Active",
              'classes': "govuk-tag--grey" if person.archived_at else "govuk-tag--blue"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('person.restore', id=person.id) if person.archived_at else url_for('person.archive', id=person.id),
                'text': "Restore" if person.archived_at else "Archive",
                'visuallyHiddenText': "person"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Updated"
          },
          'value': {
            'text': format_govuk_datetime(person.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      'card': {
        'title': {
          'text': "Role"
        },
        'actions': {
          'items': [
            {
              'href': url_for('person.edit', id=person.id),
              'text': "Change",
              'visuallyHiddenText': "role"
            }
          ]
        }
      },
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'html': '<a href="' ~ url_for("role.view", id=person.role.id) ~ '" class="govuk-link">' ~ person.role.name ~ '</a>'
          },
        },
        {
          'key': {
            'text': "Grade"
          },
          'value': {
            'text': person.role.grade
          },
        },
      ]
    }) }}

    {{ govukSummaryList({
      'card': {
        'title': {
          'text': "Team"
        },
        'actions': {
          'items': [
            {
              'href': url_for('person.edit', id=person.id),
              'text': "Change",
              'visuallyHiddenText': "team"
            }
          ]
        }
      },
      'rows': [
        {
          'key': {
            'text': "Name"
          },
          'value': {
            'html': '<a href="' ~ url_for("team.view", id=person.team.id) ~ '" class="govuk-link">' ~ person.team.name ~ '</a>'
          },
        },
      ]
    }) }}
  </div>
</div>
{%- endblock -%}