{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}

{%- block pageTitle -%}{{ person.name }} – {{config['SERVICE_NAME']}}{%- endblock -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('person_ui.list_people')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Person</span>
    <h1 class="govuk-heading-l">{{ person.name }}</h1>

    {{ govukSummaryList({
      'rows': [
        {
          'key': {
            'text': "Full name"
          },
          'value': {
            'text': person.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('person_ui.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "name"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Email address"
          },
          'value': {
            'text': person.email_address if person.email_address else govukTag({'text': "None", 'classes': "govuk-tag--red"})
          },
          'actions': {
            'items': (
              [
                {
                  'href': "mailto:" + person.email_address,
                  'text': "Email",
                }
              ] if person.email_address else []
            ) + [
              {
                'href': url_for('person_ui.edit', id=person.id),
                'text': "Change" if person.email_address else "Add",
                'visuallyHiddenText': "email address"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Role"
          },
          'value': {
            'text': person.role.name
          },
          'actions': {
            'items': [
              {
                'href': url_for('role_ui.view', id=person.role.id),
                'text': "View",
                'visuallyHiddenText': "role"
              },
              {
                'href': url_for('person_ui.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "role"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Team"
          },
          'value': {
            'text': person.team.name if person.team else govukTag({'text': "None", 'classes': "govuk-tag--red"})
          },
          'actions': {
            'items': (
              [
                {
                  'href': url_for('team_ui.view', id=person.team.id),
                  'text': "View",
                  'visuallyHiddenText': "team"
                },
                {
                  'href': url_for('person_ui.edit', id=person.id),
                  'text': "Change",
                  'visuallyHiddenText': "team"
                }
              ] if person.team else [
                {
                  'href': url_for('person_ui.edit', id=person.id),
                  'text': "Add",
                  'visuallyHiddenText': "team"
                }
              ]
            )
          }
        },
        {
          'key': {
            'text': "Location"
          },
          'value': {
            'text': person.location.title()
          },
          'actions': {
            'items': [
              {
                'href': url_for('person_ui.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "location"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Manager"
          },
          'value': {
            'text': person.manager.name if person.manager else govukTag({'text': "None", 'classes': "govuk-tag--red"})
          },
          'actions': {
            'items': (
              [
                {
                  'href': url_for('person_ui.view', id=person.manager.id),
                  'text': "View",
                  'visuallyHiddenText': "manager"
                },
                {
                  'href': url_for('person_ui.edit', id=person.id),
                  'text': "Change",
                  'visuallyHiddenText': "manager"
                }
              ] if person.manager else [
                {
                  'href': url_for('person_ui.edit', id=person.id),
                  'text': "Add",
                  'visuallyHiddenText': "manager"
                }
              ]
            )
          }
        },
        {
          'key': {
            'text': "Employment type"
          },
          'value': {
            'text': person.employment_type|title
          },
          'actions': {
            'items': [
              {
                'href': url_for('person_ui.edit', id=person.id),
                'text': "Change",
                'visuallyHiddenText': "employment type"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Status"
          },
          'value': {
            'html': govukTag({ 
              'text': "Archived" if person.archived_at else "Active",
              'classes': "govuk-tag--grey" if person.archived_at else "govuk-tag--green"
            })
          },
          'actions': {
            'items': [
              {
                'href': url_for('person_ui.restore', id=person.id) if person.archived_at else url_for('person_ui.archive', id=person.id),
                'text': "Restore" if person.archived_at else "Archive",
                'visuallyHiddenText': "person"
              }
            ]
          }
        },
        {
          'key': {
            'text': "Updated"
          },
          'value': {
            'text': format_govuk_datetime(person.updated_at, include_day=False, include_time=True)

          }
        }
      ]
    }) }}

    {% set rows = [] %}
    {% for report in person.reports if report.archived_at is none %}
      {% set _ = rows.append([
        {
          'html': '<a href="%s" class="govuk-link">%s</a>' %
            (
              url_for("person_ui.view", id=report.id),
              report.name|e
            )
        },
        {
          'html': '<a href="%s" class="govuk-link">%s</a>' %
            (
              url_for("role_ui.view", id=report.role.id),
              report.role.name|e
            )
        },
        {
          'html': '<a href="%s" class="govuk-link">%s</a>' %
            (
              url_for("team_ui.view", id=report.team.id),
              report.team.name|e
            ) if report.team else govukTag({'text': "None", 'classes': "govuk-tag--red"})
        },
        {
          'text': report.location.title()
        }
      ]) %}
    {% endfor %}
    {% if rows %}
      {{ govukTable({
        'caption': rows | length ~ " reports",
        'captionClasses': "govuk-table__caption--m",
        'firstCellIsHeader': true,
        'head': [
          { 'text': "Name" },
          { 'text': "Role" },
          { 'text': "Team" },
          { 'text': "Location" },
        ],
        'rows': rows
      }) }}
    {% endif %}
  </div>
</div>
<p class="govuk-body-s"><a class="govuk-link" href="{{ url_for('person_api.view', id=person.id) }}">Get data in JSON format</a></p>
{%- endblock -%}