{%- extends 'govuk_frontend_jinja/template.html' -%}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary-%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation -%}

{%- set assetPath = "/static/assets" -%}

{%- block pageTitle -%}{{config['SERVICE_NAME']}}{%- endblock -%}

{%- block head -%}
  <meta name="description" content="{{config['SERVICE_NAME']}}">
  <meta name="keywords" content="">
  <meta name="author" content="{{config['DEPARTMENT_NAME']}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.min.css') }}" />
{%- endblock -%}

{%- block header -%}
  <div class="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="{{ url_for('main.index') }}" class="govuk-header__homepage-link">
          <span class="govuk-header__product-name">{{ config['SERVICE_NAME'] }}</span>
        </a>
      </div>
    </div>
  </div>
  {{ govukServiceNavigation({
    'navigation': [
      {
        'href': url_for('search.index'),
        'text': "Search",
        'active': true if url_for('search.index') in request.path else false
      },
      {
        'href': url_for('role_ui.list_roles'),
        'text': "Roles",
        'active': true if url_for('role_ui.list_roles') in request.path else false
      },
      {
        'href': url_for('person_ui.list_people'),
        'text': "People",
        'active': true if url_for('person_ui.list_people') in request.path else false
      },
      {
        'href': url_for('team_ui.list_teams'),
        'text': "Teams",
        'active': true if url_for('team_ui.list_teams') in request.path else false
      },
      {
        'href': url_for('service_ui.list_services'),
        'text': "Services",
        'active': true if url_for('service_ui.list_services') in request.path else false
      }
    ]
  }) }}
{%- endblock -%}

{%- block beforeContent -%}
  {{ govukPhaseBanner({
    'tag': {
      'text': config['SERVICE_PHASE']
    },
    'html': 'This is a new service – your <a class="govuk-link" href="mailto:' + config['CONTACT_EMAIL'] + '">feedback</a> will help us to improve it.'
  }) }}
{%- endblock -%}

{%- block content -%}
  {%- if form and form.errors -%}
    {{ govukErrorSummary(wtforms_errors(form)) }}
  {%- endif -%}

  {%- with messages = get_flashed_messages(with_categories=true) -%}
    {%- if messages -%}
      {%- for category, message in messages -%}
          {{ govukNotificationBanner({'type': category, 'html': message}) }}
      {%- endfor -%}
    {%- endif -%}
  {%- endwith -%}
{%- endblock -%}

{%- block footer -%}
<div class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="{{ url_for('main.accessibility') }}">
              Accessibility
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="{{ url_for('main.cookies') }}">
              Cookies
            </a>
          </li>
        </ul>
        <div class="govuk-footer__meta-custom">
          Version <a href="https://github.com/matthew-shaw/conflux/releases" class="govuk-footer__link">{{ config['VERSION'] }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}

{%- block bodyEnd -%}
  <script type="module" src="{{ url_for('static', filename='main.min.js') }}"></script>
{%- endblock -%}